<h1>FactureX</h1>

<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="file">File</label>
    <input 
        formControlName="file"
        id="file" 
        type="file" 
        multiple
        class="form-control"
        (change)="onFileChange($event)"
        >
    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
        <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
    </div>
  </div>
      
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<div>
  <table>
    <tr><td>Date de facture</td><td>Date d'import</td><td>Compte</td><td>TTC</td><td>HT</td><td>TVA</td><td>Actions</td></tr>
    <tr *ngFor="let row of res">
      <td>08/06/2022</td>
      <td>{{date | date:'dd/MM/yyyy'}}</td>
      <td>{{row["account"][0][2]}}</td>
      <td>{{row["prices"][0][0] | number:'.2'}}</td>
      <td>{{row["prices"][1][0] | number:'.2'}}</td>
      <td>{{row["prices"][0][0] - row["prices"][1][0] | number:'.2'}}</td>
      <td>Confirmer Modifier Supprimer Voir</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
